@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

body {
    margin: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/background.png');
    background-size: 100%;
}

.product {
    position: relative;
    font-family: "Montserrat";
    background-color: #111a28;
    color: #e1e1e1;
    width: 686px;
    height: 391px;
    border-radius: 10px;
    display: flex;
}

.product__image_logo {
    position: absolute;
    top: 24px;
    left: 21px;
}

.product__images {
    display: flex;
    justify-content: center;
    width: 70%;
}

.product__slide_image1 {
    background-image: url('../img/Nike-SB-Stefan-Janoski-Max.png');
}

.product__slide_image2 {
    background-image: url('../img/Nike-SB-Stefan-Janoski-Max-grey.png');
}

.product__slide_image3 {
    background-image: url('../img/Nike-SB-Stefan-Janoski-Max-red.png');
}

.product__slide_image4 {
    background-image: url('../img/Nike-SB-Stefan-Janoski-Max-green.png');
}

.product__slide {
    background-repeat: no-repeat;
    background-position: center;
}

/* slider */
.product__image {
    width: 329px;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.product__slider_navigation {
    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.product__slide_color {
    height: 12px;
    width: 12px;
    margin: 6px;
    opacity: .7;
    border-radius: 10px;
    cursor: pointer;
}

.product__slide_color:hover {
    opacity: 1;
    box-shadow: 0px 0px 1px 2px rgba(126, 133, 139, 0.5);
    transform: scale(1.1);
}

.product__slide_input {
    position: absolute;
    visibility: hidden;
}

.product__slider {
    display: flex;
    width: 400%;
    height: 100%;
}

.product__slide {
    width: 25%;
}

.product__slide_image {
    width: 100%;
    height: 100%;
}

.radio1:checked~.product__slide_image1 {
    margin-left: 0;
}

.radio2:checked~.product__slide_image1 {
    margin-left: -25%;
}

.radio3:checked~.product__slide_image1 {
    margin-left: -50%;
}

.radio4:checked~.product__slide_image1 {
    margin-left: -75%;
}

.product__slide_color_1 {
    background-color: #000000;
}

.product__slide_color_2 {
    background-color: #dddddd;
}

.product__slide_color_3 {
    background-color: #ed3333;
}

.product__slide_color_4 {
    background-color: #29e3ea;
}

.additional-info {
    margin: 50px 0;
    flex-grow: 1;
    font-size: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.additional-info__title {
    margin: 0;
    width: 15rem;
    font-size: 24px;
    line-height: 26px;
    font-weight: 200;
}

.additional-info__description {
    margin: 0;
    font-size: 14px;
    opacity: 0.5;
}

.additional-info__size,
.additional-info__qty {
    width: 80px;
    height: 32px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #111a28;
    color: rgba(225, 225, 225, 0.5);
    line-height: 18px;
    font-size: 14px;
    padding-left: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.additional-info__button {
    width: 184px;
    height: 40px;
    font-weight: 200;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(76, 82, 90, 0.5);
    color: rgba(225, 225, 225, 0.5);
    outline: none;
    cursor: pointer;
}

/* rating */

.additional-info__rating {
    font-size: 1rem;
    display: flex;
    flex-direction: row-reverse;
    float: left;
}

.additional-info__rating::after {
    content: "";
    display: table;
    clear: both;
}

.additional-info__rating_label {
    float: right;
    padding-left: 2px;
    cursor: pointer;
}

.additional-info__rating_label:last-child {
    padding-left: 0;
}

.additional-info__rating_input {
    display: none;
}

.additional-info__rating_label:hover::before,
.additional-info__rating_label:hover~.additional-info__rating_label::before,
.additional-info__rating_input:checked~.additional-info__rating_label::before {
    content: '\f005';
    color: #ffb300;
}